/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header-title {
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #ff5733; /* Set the text color, you can choose your preferred color code */
    text-align: center; /* Center-align the text horizontally */
    margin: 20px 0; /* Add some margin for spacing, you can adjust this value */
  }

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    text-align: right; /* Align the text to the right */
    padding: 0 100px 10px; /* Add some padding for spacing */
}

nav ul {
    list-style-type: none;
    margin: 0; /* Remove any default margin */
    padding: 0;
}

nav li {
    display: inline; /* Display list items horizontally */
    margin-left: 50px; /* Add spacing between list items */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5733;
}

/* Search box styles */
.search-box {
    align-items: center;
    margin-top: 10px; /* Add some spacing from the navigation links */
}

.search-box input[type="text"] {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-right: 5px; /* Add spacing between input and icon */
}

.search-box input[type="text"]::placeholder {
    color: #aaa;
}

.search-box i {
    color: #fff;
    cursor: pointer;
}

/* CSS for Search Results */
#searchResults {
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

/* CSS for Individual Result Items */
#searchResults > div {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

/* Style for the last result item (remove the border) */
#searchResults > div:last-child {
    border-bottom: none;
}

/* Logo styles */
.logo img {
    height: 30px; /* Adjust the height of your logo */
    padding-bottom: 15px;
}

/* Slider styles */
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
    height: 400px;
    position: relative; /* Add this */
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 6000px;
}

.slide {
    flex: 0 0 2000px;
    position: relative;
}

/* Triangle button styles */
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 32px;
    width: 60px;
    height: 60px;
    background-color: #ff5733;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 0;
    transition: background-color 0.3s;
}

.prev-button:hover,
.next-button:hover {
    background-color: black;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

/* Slider dots styles */
.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust margin as needed */
    position: absolute; /* Add this */
    bottom: 10px; /* Adjust the vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.slider-button {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 20%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-button.active {
    background-color: red;
}

.featured-products {
    text-align: center; /* Center the text */
    margin-top: 60px; /* Add margin for spacing */
    font-size: 30px; /* Adjust font size */
    color: #333; /* Set the text color */
    /* Add any other styles as needed */
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px 50px; /* Add padding to the product section to increase margins from screen edge */
}

.product {
    text-align: center;
    margin: 10px; /* Reduce the margin between products */
    padding: 10px;
    border: 1px solid #ccc;
    width: calc(25% - 20px); /* Ensure four products per row with 20px margin on each side */
    box-sizing: border-box;
    position: relative; /* Add relative positioning */
}

.product img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Add hover transition */
    transition: 0.3s;
}

.product img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.product p {
    position: absolute; /* Position details over the image */
    top: 20%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    opacity: 0; /* Start with 0 opacity */
    color: #fff;
    background-color: rgba(255, 87, 51, 0.8); /* Add a semi-transparent background */
    padding: 10px; /* Add padding for readability */
    width: 60%; /* Adjust the width as needed */
    text-align: center; /* Center the text within the details */
    opacity: 0;
    transition: 0.3s; /* Add fade-out transition */
}


.product:hover p {
    transition: 1s;
    opacity: 1; /* Show details on hover */
}

.product h3{
    position: absolute; /* Position details over the image */
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    opacity: 0; /* Start with 0 opacity */
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
    padding: 10px; /* Add padding for readability */
    width: 50%; /* Adjust the width as needed */
    text-align: center; /* Center the text within the details */
    opacity: 0;
    transition: 0.3s; /* Add fade-out transition */
}

.product:hover h3{
    transition: 1s;
    opacity: 1; /* Show details on hover */
}

.product span{
    position: absolute; /* Position details over the image */
    bottom: 20px; /* Center vertically */
    left: 25%; /* Center horizontally */
    transform: translate(-50%, -50%);
    opacity: 0; /* Start with 0 opacity */
    color: #fff;
    background-color: rgba(255, 87, 51, 0.8); /* Add a semi-transparent background */
    padding: 10px; /* Add padding for readability */
    width: 15%; /* Adjust the width as needed */
    text-align: center; /* Center the text within the details */
    opacity: 0;
    transition: 0.3s; /* Add fade-out transition */
}

.product:hover span{
    transition: 1s;
    opacity: 1; /* Show details on hover */
}

/* Style the "Add to Cart" button */
.product button {
    position: absolute; /* Position details over the image */
    top: 75%; /* Center vertically */
    left: 50%; /* Center horizontally */
    opacity: 0;
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s; /* Add fade-out transition */
}

/* Add a click effect */
.product button:active {
    background-color: #333; /* Change the background color when the button is clicked */
    transform: translate(1%, 10%)
}

.product:hover button {
    opacity: 1; /* Show the button on hover */
}

/* Add hover effect for the button */
.product button:hover {
    background-color: #d44226;
    transition: 0.2s;
    opacity: 1; /* Show details on hover */
}

/* Category Filter Buttons Styles */
.category-filter {
    text-align: center;
    margin-bottom: 20px;
}

.category-button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #333;
}

/* Active button style */
.category-button.active {
    background-color: #555; /* Change color for the active button */
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; /* Center-align the container contents horizontally */
    align-items: center; /* Center-align the container contents vertically */
}

.contact-info,
.social-links {
    flex: 1;
    margin: 0 20px; /* Add margin to separate the sections */
}

.contact-info h4,
.social-links h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold; /* Make the text bold */
    position: relative; /* Set the position to relative */
    display: inline-block; /* Display the heading as inline-block */
}

.contact-info h4::after,
.social-links h4::after {
    content: '';
    position: absolute; /* Set the position to absolute */
    width: 100%; /* Make the underline the same width as the heading */
    height: 2px; /* Adjust the thickness of the underline */
    background-color: red; /* Set the color of the underline */
    bottom: -5px; /* Position the underline just below the heading */
    left: 0; /* Position the underline at the left of the heading */
}

.contact-info p {
    margin: 0;
    line-height: 1.5;
}

.social-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 5px; /* Add margin between social links */
    font-size: 16px;
}

.social-links a i {
    margin-right: 5px; /* Add space between icon and text */
}

.social-links a:hover {
    text-decoration: underline;
}